<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); -%>
    </head>
    
    <body>
        <div class="wrapper border">
            <header>
                <h1>Chatroom</h1>
                <%- include("./partials/header.ejs"); %>    
            </header>
        
            <main class="border">
                
            </main>
            <footer>
                <%- include("./partials/footer", {links: links}) %>
            </footer>
        </div>
    </body>

</html>