<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); %>
    </head>
    
    <body>
        <div class="wrapper border">
            <header>
                <h1>New Message</h1>
                <%- include("./partials/header.ejs"); %>
            </header>
            <main class="border">
                <form>
                    
                </form>
            </main>
            <footer>
                <%- include("./partials/footer.ejs", { links: links }); %>
            </footer>
        </div>
    </body>
</html>